@model IEnumerable<FormViewModel>
@{
    ViewData["Title"] = "Index";
} 

<body  style="background-image: linear-gradient(rgba(1,1,1,0.4),rgba(3,9,20,0.7)),url(https://images.unsplash.com/photo-1614620026694-f5f38182ab9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGxpYnJhcnklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);color:aliceblue;font-weight:bold;">
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col">
                    <h2 style="color:aliceblue;font-weight:bold;">Applicant Details</h2>
            </div>
            </div>

            <div class="row" >
            <div>
            <table class="table">
             
                <thead>
                        <tr style="color:aliceblue;font-weight:bold;">
                        <th>First Name</th>
                        <th>LastName</th>
                        <th>EmailId </th>
                    </tr>
                </thead>
                    <tbody style="color:aliceblue;font-weight:bold;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.FirstName</th>
                            <th>@item.LastName</th>
                            <th>@item.EmailId </th>
                            <th>
                                <a style="color:aliceblue" asp-controller="AdmissionForm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;
                                <a style="color:aliceblue" asp-controller="AdmissionForm" asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;
                                <a style="color:aliceblue" asp-controller="AdmissionForm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </th>                            
                        </tr>
                    }
                </tbody>
            </table>
            </div>               
        </div>
    </div>
</div>
</body>

